body {
    color: black;
    font-family: 'Megrim', cursive;
}
h1 {
    font-size: 70px;
}
.directions-text {
    font-size: 25px;
}
.container {
    background-color: repeating-linear-gradient(#BB8FCE, #ffffff);
    text-align: center;
}

.crystal-numbers {
    font-size: 40px;
}

img {
    display: inline-block;
    width: 50px;
    margin: 20px;
}